{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if busca %}
<div class="row">
	<div class="col-md-4">
		<h1>Resultados da busca:</h1>
		<hr>
	</div>
	<br>
</div>
	{% for busca in busca %}
	<a href="{% url 'busca' pk=busca.pk %}"><img src="../media/{{ busca.imagem }}" width="150px" height="100px"></a>
	<br><br>
		<h3>{{ busca.nome }} </h3> 
	<h5>{{ busca.sinopse}} </h5>
	<h5><b>Autor: </b>{{ busca.autor }} {{ busca.autor.sobrenome }}</h5>
	<h5><b>Editora: </b>{{ busca.editora }}</h5>
	
	

	
	{% endfor %}
{% else %}
<div class="row">
	<div class="col-md-4">
		<h1>Nenhum resultado encontrado</h1>
	</div>
</div>
{% endif %}



{% endblock %}